VITE_APPWRITE_ENDPOINT=here
VITE_APPWRITE_DBID=here
VITE_APPWRITE_FOODENTRIESID=here
VITE_APPWRITE_USERSETTINGSID=here
VITE_APPWRITE_MONTLYCALORIESID=here
VITE_APPWRITE_SHAREDDAYSID=here
VITE_APPWRITE_EXERCISEENTRIESID=here